@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');

/* color palletes
	#e2f3f5 white
	#22d1ee sky blue
	#3d5af1 violet
	#0e153a dark violet
*/


*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
}

body{
	font-family: Mulish, sans-serif;
}

header{
	display: flex;
	flex-grow: 1;
	height: 12rem;
	background-color: #0e153a;
}

.logo{
	width: 200px;
	height: 200px;
	margin: 0px auto;
}

.login-instructions{
	width: 100%;
	height: 350px;
	font-size: 32px;
	padding: 50px;
	margin: 50px auto;
}

.login-instructions h3{
	margin-bottom: 50px;
}

.login-instructions li{
	margin-left: 100px;
}

.login-form-wrapper{
	width: 100%;
	height: 1000px;
	background-color: grey;
	margin: 100px auto;
}

.login-form{
	position: relative;
	top: 15%;
	width: 70%;
	height: 70%;
	left: 15%;
	margin-top: 70px;
	background-color: red;
	border: 3px solid black;
}

.login-form div{
	position: relative;
	top: 30%;
	background-color: grey;
	width: 500px;
	margin: 20px auto;
	padding: 10px;
	text-transform: uppercase;
}

.login-form  p, input{
	margin-left: 140px;
}

.select-bday-center-content{
	margin-left: 140px;
}

